:root {
    --color-orange : #ff5e00 ;
}


.btnCartCount {
    width: 75px;
    height: 75px;
    background-color: var(--color-orange);
    border-radius: 17px;
    transform: rotate(45deg);
    display: flex;
    color: var(--color-blue);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 2.75rem;
    cursor: pointer;
    right: 1.25rem;
}

.btnCartCount .count {
    position: absolute;
    top: -11px;
    left: -11px;
    background-color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transform: rotate(-45deg);
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    letter-spacing: 1px;
    color : var(--color-orange)
}

.chartIcon {
    transform: rotate(-45deg);
    font-size: 1.5rem;
    color : #FFF
}